<!-- <div class="login-form">
    <form>
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" id="email" class="form-control" placeholder="Email id" required="required">
        </div>
        <div class="form-group">
            <input type="password" id="pass" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" (click)="adminLogin()" class="btn btn-primary btn-block">Submit</button>
        </div>
        <div class="clearfix">
            <a routerLink="/job-seeker">New User? Register as Fresher/ </a>
            <a routerLink="/job-seeker">Experience? </a>
        </div>
    </form>
</div> -->


