<body>
    <div class="card" style="width: 75%; margin-left: 12%;">
        <h4 class="card-header"><i class="fa fa-mortar-board"></i> Job Details</h4>
        <div class="card-body">
            <h4><b>Immediate Opening For UI Developers with React Js @ Pune & Bangalore</b></h4><br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p><i class="fa fa-briefcase"></i> 3-8 years</p>
                        <p><i class="fa fa-money"></i> 5,00,000 - 15,00,000 P.A</p>
                        <p><i class="fa fa-map-marker"></i> Pune Bangalore </p>
                        <p>Possed: <b>5 days ago</b></p>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col"><br><br><br>
                        <button type="button" class="btn btn-light" routerLink="/register"> Register To Apply </button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" routerLink="/home"> Login To Apply </button>
                    </div>
                </div>
            </div>

            <h4>
                <p><b>Job Description</b></p>
            </h4>
            <h6><b><u>UI Developer with React Js</u></b></h6>
            <h6><b><u>Job Location:</u></b>Pune Bangalore</h6>
            <h6>
                <p><b><u>Responsibilities</u></b></p>
            </h6>
            <ul>
                <li>Delivering a Complete Front End Apllication</li>
                <li>Writing tested, idlomatic, and documented JavaScript, HTML and CSS3</li>
                <li>Coordinating the workflow between the graphic designer and the HTML coder</li>
                <li>Cooperating with the back-end developer in the process of building the RESTful API</li>
                <li>Communicating with external web services</li>
                <li>Adherence to the organizational guidelines and processes</li>
            </ul>
            <h6>
                <p><b><u>Requirements</u></b></p>
            </h6>
            <h6><b>Overall Experience:</b></h6>
            <h6>3 to 9 years</h6>
            <h6><b>Mandatory Experience:</b></h6>
            <h6>One Year relevant Experience in UI Tools.</h6>
            <h6>Good knowledge in HTML, CSS, JavaScript and React Js</h6>
            <table>
                <tr>
                    <th>Fields</th>
                    <th>Requirements</th>
                </tr>
                <tr>
                    <td>Role</td>
                    <td>Software Developer</td>
                </tr>
                <tr>
                    <td>Industry Type</td>
                    <td>IT-Software, Software Services</td>
                </tr>
                <tr>
                    <td>Functional Area</td>
                    <td>IT-Software - Application Programming Maintenance</td>
                </tr>
                <tr>
                    <td>Employment Type </td>
                    <td>Full Time, Permanent</td>
                </tr>
                <tr>
                    <td>Role Category</td>
                    <td>Programming & Design</td>
                </tr>
            </table><br>
            <h6><b>Education</b></h6>
            <table>
                <tr>
                    <th>Degree</th>
                    <th>Requirements</th>
                </tr>
                <tr>
                    <td>UG:</td>
                    <td>Any Graduate in Any Specialization, Graduation Not Required</td>
                </tr>
                <tr>
                    <td>PG:</td>
                    <td>Any Post Graduate in Any Specialization, Post Graduation Not Required</td>
                </tr>
                <tr>
                    <td>Doctrate:</td>
                    <td>Any Doctrate in Any Specialization</td>
                </tr>
            </table>
        </div>
    </div>
</body>