<div class="card" style="width: 75%; margin-left: 12%; margin-top: 5%;">
    <h4 class="card-header"><i class="fa fa-suitcase"></i> Job Seeker Dashboard</h4>
    <div class="card-body"><br>
        <div class="container">
            <div class="row">
                <div class="col-sm hov">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRuVLfAIyTQODZq1N5tf0BELhrLJHzW5MvpszyLuq2SBiSregEX&usqp=CAU" alt="Avatar" class="image">
                    <div class="middle">
                        <div class="text"><button routerLink="/fresher/personal">Personal Details</button></div>
                    </div>
                </div>
                <div class="col-sm hov">
                    <img src="https://icons.iconarchive.com/icons/artua/dragon-soft/512/User-icon.png" alt="Avatar" class="image">
                    <div class="middle">
                        <div class="text"><button type="button" disabled>Employment Details</button></div>
                    </div>
                </div>
                <div class="col-sm hov">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRYdWBfqvUNdDxapFAJfbHWO7cqTLzIvr_Xag_aWHKhpUtUFscy&usqp=CAU" alt="Avatar" class="image">
                    <div class="middle">
                        <div class="text"><button routerLink="/fresher/education">Education Details</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>