<nav class="navbar navbar-expand-sm navbar navbar-default bg-dark navbar-dark justify-content-end">
    <button type="button" class="btn btn-dark" id="b" routerLink='/logo'> Elite Online Jobs</button>
    <!-- <img class="logo" routerLink="/logo" src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"> -->
    <button class="btn btn-success ml-auto mr-1"></button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
            Filter by:
            <li class="nav-item active">
                <a class="nav-link" routerLink="/job-details">Jobs</a>
            </li>
            ,
            <li class="nav-item active">
                <a class="nav-link" routerLink="/hot-jobs">Companies</a>
            </li>
            |
            <li class="nav-item active" *ngIf="auth.isLoggedIn()">
                <a class="nav-link" href="" (click)="auth.logout()">&nbsp; Welcome Elakiyaa &nbsp; Logout</a>
            </li>
            <!-- <li class="nav-item active" *ngIf="auth.adminLogin()">
                <a class="nav-link" href="" routerLink='/home'>&nbsp; Welcome Elite &nbsp; Logout</a>
            </li> -->
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>