<!-- <div class="card" style="width: 50%;margin-left: 25%;margin-top: 2%;">
  <h4 class="card-header">Job Seeker Dashboard</h4>
  <div class="card-body">
    <a routerLink="/job-seeker/personal">Personal Details</a>
    <hr>
    <a routerLink="/job-seeker/employment">Employment Details</a>
    <hr>
    <a routerLink="/job-seeker/education">Educational Details</a>
    <hr>
    <a routerLink="/job-seeker">Applied Jobs</a>
    <hr>
    <a routerLink="/job-seeker">Saved Jobs</a>
  </div>
</div> -->

<body>
    <div class="card" style="width: 75%; margin-left: 12%; margin-top: 5%;">
        <h4 class="card-header"><i class="fa fa-suitcase"></i> Job Seeker Dashboard</h4>
        <div class="card-body"><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm hov">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRuVLfAIyTQODZq1N5tf0BELhrLJHzW5MvpszyLuq2SBiSregEX&usqp=CAU" alt="Avatar" class="image">
                        <div class="middle">
                            <div class="text"><button routerLink="/job-seeker/personal">Personal Details</button></div>
                        </div>
                    </div>
                    <div class="col-sm hov">
                        <img src="https://icons.iconarchive.com/icons/artua/dragon-soft/512/User-icon.png" alt="Avatar" class="image">
                        <div class="middle">
                            <div class="text"><button routerLink="/job-seeker/employment">Employment Details</button></div>
                        </div>
                    </div>
                    <div class="col-sm hov">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRYdWBfqvUNdDxapFAJfbHWO7cqTLzIvr_Xag_aWHKhpUtUFscy&usqp=CAU" alt="Avatar" class="image">
                        <div class="middle">
                            <div class="text"><button routerLink="/job-seeker/education">Education Details</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- Switching between Tabs -->
<!-- <section id="tabs" class="project-tab">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" routerLink="/job-seeker/personal" role="tab"
              aria-controls="nav-home" aria-selected="true">Personal Details</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="/job-seeker/employment" role="tab"
              aria-controls="nav-profile" aria-selected="false">Employment Details</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLink="/job-seeker/education" role="tab"
              aria-controls="nav-contact" aria-selected="false">Educational Details</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            
          </div>

          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

          </div>

          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->